[build]
  command = "bundle exec jekyll build"
  publish = "_site"

[build.environment]
  JEKYLL_ENV = "production"

# ✅ NETLIFY CMS ADMIN (OBLIGATWA)
[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

# ❌ 404 TOUJOURS AN DERNIER
[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404

