<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">

    {% feed_meta %}

    <!-- Netlify Identity Widget -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body style="background-color: #f8f9fa;">
    <div style="max-width: 1200px; margin: 0 auto; background-color: white; box-shadow: 0 0 20px rgba(0,0,0,0.05);">
      {% include header.html %}

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>

      {% include footer.html %}
    </div>

    <script src="{{ "/main.js" | relative_url }}"></script>
  </body>
</html>
