<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">

    {% feed_meta %}

    <!-- Netlify Identity Widget -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body style="background-color: white; margin: 0; padding: 0;">
    <div style="width: 100%; margin: 0; padding: 0;">
      {% include header.html %}

      <main class="page-content" aria-label="Content">
        <div class="wrapper" style="width: 100%; max-width: 100%; padding: 0;">
          {{ content }}
        </div>
      </main>

      {% include footer.html %}
    </div>

    <script src="{{ "/main.js" | relative_url }}"></script>
  </body>
</html>
