<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">

    {% feed_meta %}

    <!-- Netlify Identity Widget -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body style="background-color: #f4f4f4; margin: 0; padding: 0; display: flex; justify-content: center;">
    <div style="width: 100%; background-color: white; min-height: 100vh; display: flex; flex-direction: column; align-items: center;">

      <!-- Header a dwe pran 100% -->
      <div style="width: 100%;">
        {% include header.html %}
      </div>

      <main class="page-content" style="width: 100%; flex: 1;">
        {{ content }}
      </main>

      <!-- Footer a dwe pran 100% -->
      <div style="width: 100%;">
        {% include footer.html %}
      </div>

    </div>

    <!-- Sèl Script nou bezwen an -->
    <script src="{{ "/main.js" | relative_url }}"></script>
  </body>
</html>
